:root {
  --button: {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em;
    border: none;
    background-color: var(--blue-700);
    color: var(--blue-100);
    border-radius: 0.2em;
    &:hover {
      background-color: var(--blue-600);
    }
  }
  --button-green: {
    background-color: var(--green-700);
    color: var(--green-100);
    &:hover {
      background-color: var(--green-600);
    }
  }
}
