@import url(../style/color.css);
@import url(./clientCard.css);
@import url(./button.css);

.clientList {
  padding: 0.5em;
  & > table {
    padding: 0;
    margin: 0;
    & td {
      border: 1px solid var(--grey-800);
    }
  }
  & > .addButton {
    width: var(--clientCardHeaderWidth);
    & > button {
      @apply --button;
    }
  }
}
